@model dynamic

<div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>@Html.TitleForPage(T("Access Denied").ToString())</strong>
    <p>@T("You do not have permission to complete your request.")</p>
</div>