@model dynamic

<div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>@Html.TitleForPage(T("Challenge Email").ToString())</strong>
    <p>@T("Your email address could not be validated.")</p>
</div>
