.group .align.left {
     float: left;
}
 
.group .align.right {
     float: right;
}
 
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/sprites.png");
}
 
.icon.edit {
    background-position: -8px -40px;
}
 
.icon.edit:hover {
    background-position: -40px -40px;
}
 
.icon.delete {
    background-position: -8px -7px;
}
 
.icon.delete:hover {
    background-position: -39px -7px;
}

article.shoppingcart {
    width: 500px;
}
 
article.shoppingcart table {
    width: 100%;   
}
 
article.shoppingcart td {
    padding: 7px 3px 4px 4px;
}
 
article.shoppingcart table thead td {
    background: #f6f6f6;
    font-weight: bold;
}
 
article.shoppingcart table tfoot tr.separator td {
    border-bottom: 1px solid #ccc;
}
 
article.shoppingcart table tfoot td {
    font-weight: bold;
}
 
article.shoppingcart footer {
    margin-top: 20px;
}
 
article.shoppingcart td.numeric {
    width: 75px;
    text-align: right;
}
 
article.shoppingcart td.numeric input {
    width: 50px;
}

article.shoppingcart td.update {
    text-align: right;
}

article.widget-shopping-cart-widget header h1{
    background: #f6f6f6;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0 5px 0 5px;
}
 
article.widget-shopping-cart-widget article {
    padding: 5px;
    border: 1px dotted #ccc;
    line-height: 20px;
}
 
article.widget-shopping-cart-widget article span.label{
    width: 60px;
    font-style: italic;
    color: #aaa;
    display: inline-block;
}
